/*#078080 #f45d48 #232323*/

* {
    font-family: Arial, sans-serif;
    background-color: #f8f5f2;
}

h1, h2, h3 {
    color: #232323;
}

p{
    color: #232323;
}

form {
    box-sizing: border-box;
    margin: 20px;
    border: 1px solid #232323;
    padding: 10px;
}